.flex-input {
  display: flex;
}

.flex-input > .item {
  margin: 10px;
}
/*
body {
  background-color: rgb(244, 244, 242);
}

main {
  
  padding: 50px;
  padding-top: 20px;
  border-radius: 2%;
}

h1,
h2,
h3 {
  text-align: center;
}
  */
